.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

outputs/checkpoints/*
outputs/predictions/*
outputs/logs/*
!outputs/checkpoints/.gitkeep
!outputs/predictions/.gitkeep
!outputs/logs/.gitkeep

*.pt
*.bin
*.safetensors

.env

reports/*.md
reports/*.docx
reports/~$*
